.div-previewTable {
	overflow: auto;
}

/** 当前表格 **/
.div-previewTable .ant-table-small {
	border-radius: 0px;
	height: 100%;
}

.div-previewTable .react-resizable {
	position: relative;
	background-clip: padding-box;
}

.div-previewTable .react-resizable-handle {
	position: absolute;
	width: 10px;
	height: 100%;
	bottom: 0;
	right: 0;
	cursor: col-resize;
	z-index: 1;
}

.div-previewTable .ant-table-small > .ant-table-content > .ant-table-body {
	margin: 0;
}
.div-previewTable .react-resizable-index .react-resizable-handle {
	cursor: auto;
}

/* 头部样式 */
.div-previewTable th.th-index {
	/* min-width: 40px; */
	background-color: #f0f3f8 !important;
}
.div-previewTable .ant-table-header {
	background-color: #f0f3f8 !important;
}
.div-previewTable .ant-table-thead tr th {
	padding: 2px 8px !important;
}

.div-previewTable .ant-table-thead .react-resizable-th {
	position: relative;
	height: 34px;
	padding: 0;
	display: flex;
}

.div-previewTable .react-resizable-th .th-input-read {
	background-color: #f0f3f8;
	width: 100% !important;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border: none;
}

.div-previewTable .react-resizable-th:hover .th-input-read {
	width: calc(100% - 40px) !important;
	text-align: center;
}

.div-previewTable .react-resizable-th input.th-input-write {
	width: 100%;
}
/** 表头操作 **/

.div-previewTable .react-resizable-th span.resizable-th-action {
	position: absolute;
	right: 5px;
	top: 8px;
	display: none;
	cursor: pointer;
}
.div-previewTable .react-resizable-th:hover span.resizable-th-action {
	display: block;
}

.div-previewTable .react-resizable-th span.resizable-th-action i:focus {
	outline: none;
}

/** 表格行 ***/
.div-previewTable .ant-table-tbody tr td {
	padding: 0 !important;
}

.div-previewTable .ant-table-tbody .react-resizable-cell {
	padding: 0 2px !important;
	min-width: 80px;
}

.div-previewTable .ant-table-tbody tr td > div {
	position: relative;
	height: 36px;
	padding: 0 5px !important;
}
.div-previewTable .ant-table-tbody tr td > div > span {
	display: inline-block;
	position: absolute;
	text-indent: 3px;
	width: 100%;
	left: 0;
	top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.div-previewTable .ant-table-tbody tr td div.row-index {
	background-color: #f0f3f8;
	display: block;
	text-align: center;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
}

.div-previewTable .div-previewTable-spin {
	position: absolute;
	background-color: #ddd;
	opacity: 0.5;
	z-index: 6;
}

.div-previewTable .div-previewTable-spin .ant-spin-dot {
	position: 'absolute';
	top: 50%;
	margin-top: -50px;
}

/** 选中*/
.div-previewTable .selected-row,
.div-previewTable tbody tr.selected-row:hover td,
.div-previewTable .selected-col,
.div-previewTable .selected-col .th-input-read,
.div-previewTable .selected-cell {
	background-color: #a3cef0 !important;
}

/**  下拉菜单*/
.ant-dropdown.ant-dropdown-placement-bottomRight {
	/* top: 0 !important; */
}

.ant-dropdown .ant-menu {
	position: absolute;
	right: -14px;
	text-align: left;
	padding: 5px;
}
.ant-dropdown .ant-menu li {
	margin: 0;
}
.ant-dropdown .ant-menu li:hover {
	background-color: #e6f4ff !important;
}
