/* .div-previewTable,
.div-previewTable .ant-table-wrapper,
.div-previewTable .ant-spin-nested-loading,
.div-previewTable .ant-spin-container {
	height: 100%;
} */

.div-previewTable {
	overflow: auto;
}

/** 当前表格 **/

.div-previewTable .ant-table-small {
	border: 1px solid #e8e8e8;
	border-radius: 0px;
	height: 100%;
}

.div-previewTable .react-resizable {
	position: relative;
	background-clip: padding-box;
}

.div-previewTable .react-resizable-handle {
	position: absolute;
	width: 10px;
	height: 100%;
	bottom: 0;
	right: -5px;
	cursor: col-resize;
	z-index: 1;
}

.div-previewTable .ant-table-small > .ant-table-content > .ant-table-body {
	margin: 0;
}
.div-previewTable .react-resizable-index .react-resizable-handle {
	cursor: auto;
}

/* 头部样式 */

.div-previewTable .ant-table-thead tr th {
	line-height: 36px;
	padding: 1px !important;
}

.div-previewTable .ant-table-thead .react-resizable-th {
	position: relative;
	height: 25px;
	line-height: 25px;
	display: flex;
	justify-content: space-between;
}

.div-previewTable .react-resizable-th span {
	display: inline-block;
}

.div-previewTable .react-resizable-th .resizable-th-title {
	white-space: nowrap;
}

.div-previewTable .react-resizable-th span.resizable-th-title {
	/* width: calc(100% - 5px); */
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	text-align: center;
}

.div-previewTable .react-resizable-th:hover span.resizable-th-title {
	width: calc(100% - 50px) !important;
}

.div-previewTable .react-resizable-th input.resizable-th-title {
	width: 100%;
	min-width: 80px;
	text-indent: 5px;
}
/** 头部操作 **/
.div-previewTable .react-resizable-th span.resizable-th-action {
	display: none;
	cursor: pointer;
	margin-right: 5px;
}
.div-previewTable .react-resizable-th:hover span.resizable-th-action {
	display: inline;
}

.div-previewTable .react-resizable-th span.resizable-th-action i:hover {
	/* background-color: #fff; */
}

.div-previewTable .react-resizable-th span.resizable-th-action i:focus {
	outline: none;
}

/** 表格内容 ***/
.div-previewTable .ant-table-tbody tr td {
	line-height: 28px;
	padding: 0 !important;
}

.div-previewTable .ant-table-tbody tr td div {
	/* min-width: 100px; */
	display: flex;
	min-height: 24px;
	padding: 2px;
	height: 28px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.div-previewTable .ant-table-tbody tr td div.row-index {
	background-color: #f0f3f8;
	display: block;
	text-align: center;
	width: 40px;
	cursor: pointer;
}

/** loading */
/* .div-previewTable {
	overflow: hidden;
} */

.div-previewTable .div-previewTable-spin {
	position: absolute;
	background-color: #ddd;
	opacity: 0.5;
	z-index: 6;
}

.div-previewTable .div-previewTable-spin .ant-spin-dot {
	position: 'absolute';
	top: 50%;
	margin-top: -50px;
}

/** 选中*/
.div-previewTable .selected-row {
	background-color: #555 !important;
}

.div-previewTable tbody tr.selected-row:hover td {
	background-color: #555 !important;
}

.div-previewTable .selected-col {
	background-color: #555 !important;
}

.div-previewTable .selected-cell {
	background-color: #555 !important;
}
